# Day 1 - Python Basics

**Topics:**
- Variables & data types
- Numbers, strings, booleans
- Lists, tuples, dictionaries
- Basic operators
- Print and input functions
- Mini exercises

In [20]:
# Numbers
x = 10      # integer
y = 3.5     # float

# Strings
name = "Dharma"
course = '"Python for Beginners"'
course2 = course
course3 = '''
This is one more way of
declaring a string of multiple lines
'''

# Formated Strings
msg = f'{course} course is easy'

# Boolean
is_active = True

# Print variables
print(x, y, name, is_active)
print("The character name is " + name)
print("He is", is_active)
print("Printing the index of 'a' in name is", name.index("a"))
print("The course name is:", course)
print(course[0])
print(course[-1])
print(course[0:3])
print(course[0:])
print(course)
print(course3) # This will print empty lines in the front and end of the string
print(msg)

# String Methods
print(course.lower())
print(course.upper())
print(course.title())
print(len(course))
print(course.find('B'))
print(course.replace('Python','C++'))
print('Python' in course)

# Check types
print(type(x), type(y), type(name), type(is_active))

10 3.5 Dharma True
The character name is Dharma
He is True
Printing the index of 'a' in name is 2
The course name is: "Python for Beginners"
"
"
"Py
"Python for Beginners"
"Python for Beginners"

This is one more way of
declaring a string of multiple lines

"Python for Beginners" course is easy
"python for beginners"
"PYTHON FOR BEGINNERS"
"Python For Beginners"
22
12
"C++ for Beginners"
True
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [21]:
# List
fruits = ["apple", "banana", "cherry"]
print(fruits)
print(fruits[0])  # Access first element

# Tuple (immutable)
coords = (10, 20)
print(coords)

# Dictionary
person = {"name": "Dharma", "age": 22}
print(person)
print("Person's name is", person["name"])

['apple', 'banana', 'cherry']
apple
(10, 20)
{'name': 'Dharma', 'age': 22}
Person's name is Dharma

In [13]:
a = 10
b = 3

# Arithmetic
print(a + b, a - b, a * b, a / b, a % b, a ** b)

# Comparison
print(a > b, a == b, a != b)

13 7 30 3.3333333333333335 1 1000
True False True

In [1]:
# Input from user and print functions
user_name = input("Enter your name: ")
favourite_color = input("Enter your favourite color: ")
print("Hello,", user_name, "Your favourite color is", favourite_color)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

Enter your name:  Dharma
Enter your favourite color:  Blue

Hello, Dharma Your favourite color is Blue

In [4]:
# Type Conversions
# Use the below function to convert a string into int, float and bool respectively
# int()
# float()
# bool()
birth_year = input("What is your birth year: ")
age = 2025 - int(birth_year)
print("Your age is", age)

What is your birth year:  2001

Your age is 24

In [15]:
# Swapping of numbers without using third variable.
x = 5
y = 10
x = x + y
y = x - y
x = x - y
print(x,y)

# Printing all even numbers from 1 tp 20
for i in range(11):
    print(i*2, end = " ")
print("")

# Constructing dictionary with letters as keys and their AASCII as values
d = {"a": ord('a'),"b":ord('b'), "c":ord('c'), "d":ord('d'), "e":ord('e')}
print(d)

10 5
0 2 4 6 8 10 12 14 16 18 20
{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}